.header {

    &__wrapper {
        width: 860px;
        margin: 0 auto;
        padding: 30px 10px 60px 10px;

        text-align: center;
    }

    &__logo {
        width: 100px;
    }

    span {
        display: block;

        color: #231f20;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
    }

    @media (max-width: 860px) {
        &__wrapper {
            width: 100%;
        }
    }

}